[Unit]
Description=Dynamic Nftables Output Rule for %i
After=network-pre.target
After=nftables.service
Before=network.target
BindsTo=nftables.service
ReloadPropagatedFrom=nftables.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/nft add chain inet global dynout-%i
ExecStart=/bin/sh -c 'echo "table inet global { chain dynout-%i { include \"/etc/nftables/dynamic/%i.nft\"; } }" | /usr/bin/nft -f -'
ExecStartPost=/usr/bin/nft add rule inet global dynamic_output jump dynout-%i

ExecStop=/usr/bin/nft delete rule inet global dynamic_output jump dynout-%i
ExecStop=/usr/bin/nft flush chain inet global dynout-%i
ExecStop=/usr/bin/nft delete chain inet global dynout-%i

[Install]
WantedBy=multi-user.target
